body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 5px;
}

.main-content {
    display: flex;
    border: 1px solid black;
}

.left-column {
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.canvas {
    height: 640px;
    width: 640px;
    border: 1px solid black;
}

.grid-box {
    flex: 1 1 auto;
/*    border: 1px solid red;*/
}

.hover {
    background-color: lightgrey;
}