body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 640px;
    width: 640px;
    border: 1px solid black;
}

.grid-box {
    flex: 1 1 auto;
/*    border: 1px solid red;*/
}

.hover {
    background-color: lightgrey;
}